<section>
  @if (hasErrors || success){
  <app-alert
    [errors]="errors"
    type="{{ success ? 'success' : 'error' }}"
    message="{{
      success ? 'Student updated successfully.' : 'An error occurred.'
    }}"
  ></app-alert>
  }

  <form [formGroup]="editForm" (ngSubmit)="updateStudent()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        required
      />
      @if (editForm.controls['name'].invalid &&
      editForm.controls['name'].touched) {
      <div class="text-danger">
        @if (editForm.controls['name'].errors?.['required']) {
        <small>Name is required.</small>
        } @if (editForm.controls['name'].errors?.['minlength']) {
        <small>Minimum 3 characters.</small>
        }
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Lastname</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        required
      />
      @if (editForm.controls['lastName'].invalid &&
      editForm.controls['lastName'].touched) {
      <div class="text-danger">
        @if (editForm.controls['lastName'].errors?.['required']) {
        <small>Lastname is required.</small>
        } @if (editForm.controls['lastName'].errors?.['minlength']) {
        <small>Minimum 3 characters.</small>
        }
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="identification" class="form-label">Identification</label>
      <input
        type="text"
        class="form-control"
        id="identification"
        formControlName="identification"
        required
      />
      @if (editForm.controls['identification'].invalid &&
      editForm.controls['identification'].touched) {
      <div class="text-danger">
        @if (editForm.controls['identification'].errors?.['required']) {
        <small>Identification is required.</small>
        } @if (editForm.controls['identification'].errors?.['minlength']) {
        <small>Minimum 9 characters.</small>
        } @if (editForm.controls['identification'].errors?.['maxlength']) {
        <small>Maximum 12 characters.</small>
        } @if (editForm.controls['identification'].errors?.['pattern']) {
        <small>Only numbers allowed.</small>
        }
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        required
      />
      @if (editForm.controls['email'].invalid &&
      editForm.controls['email'].touched) {
      <div class="text-danger">
        @if (editForm.controls['email'].errors?.['required']) {
        <small>Email is required.</small>
        } @if (editForm.controls['email'].errors?.['email']) {
        <small>Invalid email format.</small>
        }
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        formControlName="age"
        required
      />
      @if (editForm.controls['age'].invalid &&
      editForm.controls['age'].touched) {
      <div class="text-danger">
        @if (editForm.controls['age'].errors?.['required']) {
        <small>Age is required.</small>
        } @if (editForm.controls['age'].errors?.['min']) {
        <small>Minimum age is 18.</small>
        } @if (editForm.controls['age'].errors?.['max']) {
        <small>Maximum age is 99.</small>
        } @if (editForm.controls['age'].errors?.['pattern']) {
        <small>Only numbers allowed.</small>
        }
      </div>
      }
    </div>

    <div class="d-flex justify-content-around">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="editForm.invalid"
      >
        Submit
      </button>
      <a routerLink="/students" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</section>
